<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GradeUp Chatbot</title>

  <!-- Main External Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
  <div class="container">
    <div class="feeds"></div>
    <div class="chat__screen">

      <!-- Navbar  -->
      <div class="navbar">
        <div class="navbar__title">
          <h2>GradeU ChatBot</h2>
        </div>
        <div class="navbar__actions"></div>
      </div>

      <!-- Main Chat Screen -->
      <div class="main__chat-screen">

        <div class="chat-block">
          <div class="block user__block">
            {{user_input}}
          </div>
        </div>

        <div class="chat-block">
          <div class="block bot__block">
            {{bot_response}}
          </div>
        </div>

      </div>

      <!-- Bottom Fixed Input Field -->
      <div class="user-input-field">
        <form action="/process" method="POST">
          <input type="text" aria-label="user-input" name="user_input" id="user-input"
            placeholder="Type your message here... ">

          <button type="submit">SEND</button>
        </form>
      </div>
    </div>
    <div class="about"></div>
  </div>
</body>

</html>